<div class='col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 centralBox fontsize18' *ngIf='artist'>
	<div class='row'>
		<div class='col-md-8 col-md-offset-2 col-xs-12 '>
			<img src="{{artist.images[0].url}}" class='imageArtist' *ngIf="artist.images[0].url"/>
		</div>
		<div class='col-md-12 col-xs-12 infoBox'>
				<div class='row'>
						<!-- <div class='col-md-3 col-md-offset-2 col-xs-3'><span class='title'>Artist:</span></div> -->
						<div class='col-md-6 col-md-offset-5 col-xs-8 col-xs-offset-4'><a class='cf' [routerLink]="['/' + artist.id + '/albums']" title='Artist page'>{{artist.name}}</a></div>
				</div>
				<div class='row'>
						<div class='col-md-12 col-xs-12' *ngIf="bandMembersHTML!=''" [innerHTML]="bandMembersHTML"></div>
				</div>
		</div>
	</div>
</div>