<div class='col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 centralBox' *ngIf='album'>
	<div class='row'>
		<div class='col-md-4 col-xs-4 '>
			<img src="{{album.imageUrl}}" class='imageArtist' *ngIf="album.imageUrl"/>
		</div>
		<div class='col-md-4 col-xs-4'>
			<div class='row'>
				<div class='infoBox'>
					<div><span class='title'>Artist:</span> {{album.artist}}</div>
                    <div><span class='title'>Album:</span> {{album.name}}</div>
					<div><span class='title'>Year:</span> {{album.year}}</div>
                    <div><span class='title'>Note:</span> </div>
				</div>	
				<table class="table">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Name</th>
				    </tr>
				  </thead>
				  <tbody id='trackResults'>
					  <tr  *ngFor="let track of album.tracks">
					  	<td>{{track.track_number}}</td>
					  	<td>{{track.name}}</td>
					  </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>	
</div>
