.albumRow {
	border:1px solid #3498db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
}

.imageArtist
{
	margin-top:5px;
	margin-bottom:5px;
	width:100%;
}

.titleBox
{
	color: #3A539B;
	margin-top:5px;
	text-align:center;
}

.tableHeader 
{
	width:100%;
}

.trackNumber
{
	width:20%;
	float:left;
	text-align: center;
}

.trackName
{
	width:80%;
	float:right;
	text-align: left;
}

.ulTracks
{
	margin:0px !important;
	padding:0px !important;
	width:100%;
	display:block;
}

.ulTracksLi
{
	list-style-type:none ;
	width:100%;
	/* border-bottom:1px solid #ccc; */
	padding-bottom:5px;
	padding-top:5px;
}

.trackSample
{
	width:100% !important;
}

.audioTrack
{
	width:100% !important;
}