.inputNormal {
	width:30%;
}

.inputSmall {
	width:11%;
}

.logo {
	margin: 4px 4px 0px 4px;
}

.navbar {
	size: 14px;
}

.formHeader {
	width:60%;
}
.navbar {
	background-image: linear-gradient(to bottom,#fff,#f2f2f2);
	border: 1px solid #d4d4d4;
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}