<div class='container pddTop70' *ngIf="artistsView?.length > 0">
	<div class='row' *ngFor="let tripleArtist of artistsView; let i = index">
	        <div *ngFor="let artist of tripleArtist;" class='col-md-4 col-sm-4 col-xs-12 marginTop10'>
				<div class='artistBox'>
					<div class='row'>
		        		<img class='artistPhoto' src="{{artist.images[0]['url']}}" *ngIf="artist.images[0]" />
					</div>
					<div>	
						<div class='boxText'>
							<div>
								<div class='bandNameDiv'><a [routerLink]="['/' + artist.id + '/artistInfo']">{{artist.name}}</a></div>
								<div class='albumsDiv'><a [routerLink]="['/' + artist.id + '/albums']">Albums</a></div>
							</div>
						</div>
					</div>	
				</div>	
		    </div>	
	</div>
</div>
<router-outlet></router-outlet>

