.artistRow {
	border:1px solid #3498db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
}

.artistName
{
	padding-top:5%;
	height: 180px;
	font-size:18px;
}

.artistPhoto
{
	margin-bottom:5px; 
	width:70%;
	height: 222px;
	
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.image-not-found {
	border:1px solid grey;
}


.boxText
{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
	text-align: center;
}

.artistBox {
	width: 85%;
	margin:auto;

	text-align:center;
	font-size:18px;
	padding-top:10px;
	
	background-color: #f6f9fa;; /*#f5f5f5;*/
	border: 1px solid #175071 ;/*#a3a3a3;*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.artistBox a {
	color: #175071; /*#08c;*/
}

.bandNameDiv {
	weight: 80%;
}

.albumsDiv {
	weight: 20%;
}