.albumPhoto {
	border:1px solid #3498db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	height:180px;
}

.albumBox {
	border: 1px solid blue;
	text-align:center;
	font-size:18px;
}

.albumBox img{
	height: 180px;
	width: 180px;
	display: block;
    margin: 0 auto;
}

.boxText
{
	margin-top: 10px;
	margin-bottom: 5px;
}